[submodule "contents"]
	path = contents
	url = git@github.com:diveindeep-dev/deeplog-contents.git
[submodule "src/styles"]
	path = src/styles
	url = https://github.com/diveindeep-dev/deeplog-styles.git
